@font-face {
  font-family: "by-iconfont";
  src: url('iconfont.eot?t=db6bb8a373f056c3273bdb7a8688cd85'); /* IE9 */
  src: url('iconfont.eot?t=db6bb8a373f056c3273bdb7a8688cd85#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=db6bb8a373f056c3273bdb7a8688cd85') format('woff2'),
  url('iconfont.woff?t=db6bb8a373f056c3273bdb7a8688cd85') format('woff'), /* chrome、firefox */
  url('iconfont.ttf?t=db6bb8a373f056c3273bdb7a8688cd85') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=db6bb8a373f056c3273bdb7a8688cd85#by-iconfont') format('svg'); /* iOS 4.1- */
}

.by-iconfont {
  font-family: "by-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-by-add:before {
  content: "\e001";
}
.icon-by-companies:before {
  content: "\e002";
}
.icon-by-management:before {
  content: "\e003";
}
.icon-by-account:before {
  content: "\e004";
}
.icon-by-team:before {
  content: "\e005";
}
.icon-by-cancel:before {
  content: "\e007";
}
.icon-by-data-maintenance:before {
  content: "\e008";
}
.icon-by-cancels:before {
  content: "\e009";
}
.icon-by-feishu:before {
  content: "\e00b";
}
.icon-by-contact:before {
  content: "\e00c";
}
.icon-by-cooperation:before {
  content: "\e00d";
}
.icon-by-copy:before {
  content: "\e00f";
}
.icon-by-question:before {
  content: "\e012";
}
.icon-by-service:before {
  content: "\e013";
}
.icon-by-basic-information:before {
  content: "\e015";
}
.icon-by-bedivorcedfrom:before {
  content: "\e016";
}
.icon-by-enlarge:before {
  content: "\e017";
}
.icon-by-shutdown:before {
  content: "\e018";
}
.icon-by-maintain:before {
  content: "\e01b";
}
.icon-by-file-set:before {
  content: "\e01c";
}
.icon-by-position:before {
  content: "\e01e";
}
.icon-by-set:before {
  content: "\e022";
}
.icon-by-information:before {
  content: "\e024";
}
.icon-by-share:before {
  content: "\e025";
}
.icon-by-trajectory:before {
  content: "\e028";
}
.icon-by-news:before {
  content: "\e02a";
}
.icon-by-file:before {
  content: "\e02e";
}
.icon-by-date:before {
  content: "\e030";
}
.icon-by-protect:before {
  content: "\e031";
}
.icon-by-warehouse:before {
  content: "\e032";
}
.icon-by-refresh:before {
  content: "\e036";
}
.icon-by-application:before {
  content: "\e038";
}
.icon-by-calculation:before {
  content: "\e03d";
}
.icon-by-export:before {
  content: "\e040";
}
.icon-by-delete:before {
  content: "\e043";
}
.icon-by-see:before {
  content: "\e047";
}
.icon-by-edit:before {
  content: "\e049";
}
.icon-by-lock:before {
  content: "\e04f";
}
.icon-by-phone:before {
  content: "\e050";
}
.icon-by-document-update:before {
  content: "\e051";
}
.icon-by-help:before {
  content: "\e053";
}
.icon-by-informations:before {
  content: "\e054";
}
.icon-by-more:before {
  content: "\e056";
}
.icon-by-notice:before {
  content: "\e05a";
}
.icon-by-import:before {
  content: "\e05c";
}
.icon-by-quick:before {
  content: "\e05e";
}
.icon-by-relation:before {
  content: "\e05f";
}
.icon-by-salesteam:before {
  content: "\e060";
}
.icon-by-preservation:before {
  content: "\e061";
}
.icon-by-plus:before {
  content: "\e062";
}
.icon-by-reset:before {
  content: "\e063";
}
.icon-by-record:before {
  content: "\e064";
}
.icon-by-search:before {
  content: "\e06a";
}
.icon-by-settlement:before {
  content: "\e06c";
}
.icon-by-eye:before {
  content: "\e06e";
}
.icon-by-time:before {
  content: "\e070";
}
.icon-by-system-upgrade:before {
  content: "\e071";
}
.icon-by-supplier:before {
  content: "\e072";
}
.icon-by-upload:before {
  content: "\e073";
}
.icon-by-transceiver:before {
  content: "\e074";
}
.icon-by-user:before {
  content: "\e075";
}
.icon-by-verification:before {
  content: "\e076";
}
.icon-by-contract:before {
  content: "\e07a";
}
.icon-by-workbench:before {
  content: "\e07b";
}
.icon-by-secretkey:before {
  content: "\e07c";
}
.icon-by-edition:before {
  content: "\e07d";
}
